body {
      background-image: url(https://i.pinimg.com/originals/ab/01/cb/ab01cbba05d8c2500c925ec0f9a0476c.gif);
      color: #d4a0d4;
}

h1, h3, h4, h2 {
      font-family: "Anton", sans-serif;
}

p {
      font-family: "Space Mono", monospace;
      font-size: 1.1vw;
}

/* navbar  */

.topnav {
      overflow: hidden;
      background-color: #d4a0d4;
      font-family: "Space Mono", monospace;
      font-size: 1.1vw;
      margin: 50px;
}

.topnav a {
      float: left;
      border-right: 2px solid black;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: background-color ease 0.5s;
}

.topnav a:hover {
      background-color: black;
      color: #d4a0d4;
}

/* Gol Grid */

.outer-grid {
      display: grid;
      grid-template-columns: 15% 35% 35% 15%;
      grid-template-rows: 42% 42%;
      gap: 25px;
}

.header1, .header2 {
      display: flex; 
      justify-content: center;
      align-items: center;
      white-space: nowrap;      


.header1 {
      grid-row: 1/3;
      grid-column: 1;
      font-size: 5vw;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 50px;
}

.header2 {
      grid-row: 1/3;
      grid-column: 4;
      font-size: 5vw;
      padding-top: 30px;
      padding-bottom: 30px;
}

.firstquad img, .thirdquad img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.firstquad img {
      transition: opacity 0.3s ease-in-out;
}

.firstquad a:hover {
      opacity: 1; 
}

.firstquad {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 40px;
}

.secondquad {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
}

.thirdquad {
      grid-row: 2;
      grid-column: 2;
      text-align: center;
      font-size: 40px;
}

.fourthquad {
      grid-row: 2;
      grid-column: 3;
      display: flex;
      justify-content: center;
      align-items: center;
}

/* Dagagdagch Grid*/

.inner-grid {
      display: grid;
      grid-template-rows: 20% 50% 30%;
      grid-template-columns: 33% 33% 33%; 
      width: 100%;
      border: 2px solid #d4a0d4;
      padding: 10px;
      box-sizing: border-box;
}

.head, .contacthead {
      grid-column: 1/4;
      font-size: 30px;
      border-bottom: 2px solid #d4a0d4;
}

/* logo ynzlalt */

.logoquad2, .logoquad4 {
      display: flex;
      justify-content: center;
      align-items: center;
}

.logoquad2 img, .logoquad4 img {
      width: 100%;
      height: auto;
      object-fit: contain;
}

.logoquad2 {
      grid-column: 1;
      grid-row: 2;
}

.logoquad4 {
      grid-column: 3;
      grid-row: 2/3;
}

.bottom1, .bottom2 {
      grid-column: 1/4;
      grid-row: 3;
      padding-top: 20px;
      border-top: 2px solid #d4a0d4;
}

.welcome {
      grid-column: 2/4;
      grid-row: 2;
      font-size: 30px;
      padding-bottom: 30px;
}

.contact {
      grid-column: 1/3;
      grid-row: 2; 
      padding-bottom: 40px;
}

